/* font-family: 'Gasoek One', sans-serif;
font-family: 'Bagel Fat One', cursive; */

:root{
    --white: #ffffff; 
    --black: black;
    --yellow: #FFE500;
    --pink: #FF00B8;
}

body{
    background-image: url(tile-one.png);
    z-index: -100;
    background-repeat: repeat; 
  background-size: cover;
}

/* header{
   display: flex;
    justify-content: center; 
font-family: 'Bagel Fat One', cursive;
font-size: 270px;
 
    color: var(--white);
    -webkit-text-stroke: 5.5px black; 
    letter-spacing: -0.03em;

    z-index: 10;

} */
header{

    position: fixed;
    top: -25%;
    left: 5%;
    transform: translate(-5%, 25%);

    font-family: 'Bagel Fat One', cursive;
    font-size: 270px;

    color: var(--white);
    -webkit-text-stroke: 5.5px black; 
    letter-spacing: -0.03em;

    z-index: 10;
 
 }

header:hover{

    color: var(--pink);
    -webkit-text-stroke: 5.5px var(--white); 
    letter-spacing: -0.03em;
    transition: 1.5s;

}

.frame{
    display: flex;
    justify-content: center;

}
#frame-wrapper{
    padding-top: 28%;
}
.push{
    position: absolute;
width: 200px;
height: 200px;
/* left: 703px; */
top: 262px;

background-image: url(push.png);
background-size: cover;
background-color: #ffffff00;
border-style: none;
}

.duck{
    position: absolute;
    transform: translateY(-750px);
    padding-left: 5%;
    z-index: 200;
}